.cache
.vscode*
*.kdev4
*.pyc
*.pyo
*.out
/build
/builddir-*
/mesa-install/
/mesa-install-*/
/mesa-unified-install/
/mesa-unified-install-*/
/mesa-vulkan-install-*/
/dist/
/mesa-*-sdk.zip
knowledge
libnx
libdrm-nouveau
.venv/
*.mda.tar

dolphin
deko3d
Athmosphere
new-yabause-stable
